{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="assets/css/testimonial.css" media="screen" >

{% endblock %}

{% block header %}
{{ parent() }}


{% endblock %}
{% block body %}
<!-- details card section starts from here -->

<!-- details card section starts from here -->

<br/><br/>
{% block javascripts %}
{{ parent() }}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<img src="/examples/images/slides/notebook.jpg" alt="">
						<div class="carousel-caption">
							<h3>Award Winning Support</h3>
							<p>Pulvinar leo id risus pellentesque vestibulum. Sed diam libero, sodales eget cursus dolor.</p>
							<div class="carousel-action">
								<a href="#" class="btn btn-primary">Learn More</a>
								<a href="#" class="btn btn-success">Try Now</a>
							</div>
						</div>
					</div>
					<div class="item carousel-item">
						<img src="/examples/images/slides/tablet.jpg" alt="">
						<div class="carousel-caption">
							<h3>Amazing Digital Experience</h3>
							<p>Nullam hendrerit justo non leo aliquet imperdiet. Etiam sagittis lectus condime dapibus.</p>
							<div class="carousel-action">
								<a href="#" class="btn btn-primary">Learn More</a>
								<a href="#" class="btn btn-success">Try Now</a>
							</div>
						</div>
					</div>
					<div class="item carousel-item">
						<img src="/examples/images/slides/workstation.jpg" alt="">
						<div class="carousel-caption">
							<h3>Live Monitoring Tools</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu pellentesque sem tempor.</p>
							<div class="carousel-action">
								<a href="#" class="btn btn-primary">Learn More</a>
								<a href="#" class="btn btn-success">Try Now</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% endblock %}
