{% extends 'base.html.twig' %}
{% block title %}SOFTOOLS{% endblock %}
{% block header %}
{{ parent() }}
{% include 'base/carousel.html.twig' %}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="service-heading-block">
					<br/> <br/> <br/> <br/>
					<h2 class="text-center title">POUR MIEUX COMPRENDRE</h2>
					<p class="text-center sub-title">Lorem ipsum dolor sit amet,<span class="text-primary">consectetur adipisicing</span> elit.<br/> Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
			</div>
		</div>
  </div>
	<div class="container">
	  <div class="row">
	    <div class="col-xs-12 col-sm-2"></div>
	    <div class="col-xs-12 col-sm-8">
	      <div class="laptop">
	        <div class="laptop-screen"><!--<img class="img-responsive" src="https://picsum.photos/640/360/?random"/>-->
						<div class="owl-carousel">
							<div class="video-wrapper">
							    <video src="https://files.slack.com/files-pri/TBP17UTV4-FG8LVDE4W/new_video_large.mp4" poster="//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/poster.png"></video>
							</div>
						</div>
					</div>
	        <div class="laptop-base"></div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- features section -->
	<div class="container text-center">
          <div class="row">
            <div class="service-heading-block">
								<br/> <br/> <br/> <br/><br/> <br/>
                <h2 class="text-center  title">3 BONNES RAISONS DE CHOISIR SOFTOOLS</h2>
                <p class="text-center sub-title">Lorem ipsum dolor sit amet,<span class="text-primary">consectetur adipisicing</span> elit.<br/> Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
            </div>

            <div class="col-md-4">
              <div class="text-center feature-block">
                <span class="fb-icon color-info">
                  <img src="https://img.icons8.com/ios/100/000000/easy.png">
                </span>
                <h4 class="color-info">SIMPLICITÉ</h4>
                <p class="">Vous n'avez plus besoin d'être un développeur informatique pour créer
									des applications. Utilisez notre  Studio App <b>zéro code</b> pour concevoir, créer et
									 déployer des applications en quelques heures. Des applications <b>simples et complexes</b>
									 peuvent être créées et fonctionner dans un format<b> autonome ou intégré</b>.<br/></br></p>
              </div>
            </div>

            <div class="col-md-4">
             <div class="text-center feature-block">
                <span class="fb-icon color-warning">
                  <img src="https://img.icons8.com/ios/100/000000/running-rabbit.png">
                </span>
                <h4 class="color-warning">RAPIDITÉ</h4>
                <p class=""> <b>Softools</b> est <b>rapide</b> à construire, rapide à déployer et rapide à utiliser.
									Les applications peuvent généralement être construites quelques heures et déployées
									instantanément en un clic. La fonctionnalité <b> «hors ligne»</b> rendra également les systèmes
									 aussi rapides que les applications exécutées sur votre PC ou votre smart phone.</br></br></p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="text-center feature-block">
                <span class="fb-icon color-success">
										<img src="https://img.icons8.com/ios/100/000000/running-rabbit.png">
                </span>
                <h4 class="color-success">SECURITÉ</h4>
                <p class="">La sécurité des données est essentielle. Vos données sont hébergées sur la plate-forme
									 d'hébergement Microsoft Azure, la plate-forme d'hébergement la plus <b>sécurisée</b> et la plus évolutive
									  au monde. <b>Softools</b> est un partenaire Microsoft et nous travaillons en étroite collaboration pour
										aligner et intégrer les technologies Web émergentes.</p>
              </div>
            </div>
          </div>
    </div>
		<!-- clients -->


<div class="container">
		<div id="ThumbnailCarousel" class="carousel slide col-xs-12" data-ride="carousel">
			<div class="service-heading-block">
					<br/> <br/> <br/>
					<h2 class="text-center title">CLIENTS</h2>
			</div>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
					<div class="row">
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/Accorgrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/AdvanceGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/AffiniGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/AftonGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/ArcelorMittalGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/AviacompGrey.png"></a>
						</div>
					</div>
		    </div>
		    <div class="carousel-item">
					<div class="row">
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/BayerGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/BurtonsBiscuitsGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/CambridgeUniPressGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/CapitaGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/CipfaGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/CocaColaGrey.png"></a>
						</div>
					</div>
		    </div>
		    <div class="carousel-item">
					<div class="row">
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/DalGroup.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/DanoneGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/DHLGrey.png "></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/ForboGrey.png "></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/ForboGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/HPEGrey.png"></a>
						</div>
					</div>
		    </div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/DalGroup.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/DanoneGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/DHLGrey.png "></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/ForboGrey.png "></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/ForboGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/HPEGrey.png"></a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/QatarRailGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/RoyalMailGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/SellafieldGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/PAGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/SMUGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/SwireGrey.png"></a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/TerexGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/TnTGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/TradeGeckoGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/UnisysGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/VitalSixGrey.png"></a>
						</div>
						<div class="col-md-2">
							<a class="thumbnail" href="#"><img alt="Softools clients" src="assets/images/clients/LeoGrey.png"></a>
						</div>
					</div>
				</div>
		  </div>
		  <a class="carousel-control-prev" href="#ThumbnailCarousel" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#ThumbnailCarousel" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
</div>

<div class="container c">
	<div class="row">
		<div class="col-md-4 f">

					<div class="row boxx">
				<div class="col-md-2 boxxx">
				<img class="s" src="assets/images/card.png" alt="Card image cap">
				</div>
		  <div class="card-body col-md-10">
							<div class="card">
		    <h5 class="card-title text-left">Collaborative Idea</h5>
		    <p class="card-text f">Implement an innovative culture among your company's staff.</p>
		    <a href="#" class="btn">Use now</a>
		  </div>
		</div>
		</div>
		</div>

		<div class="col-md-4 f">

					<div class="row boxx">
				<div class="col-md-2 boxxx">
				<img class="s" src="assets/images/card.png" alt="Card image cap">
				</div>
		  <div class="card-body col-md-10">
							<div class="card">
		    <h5 class="card-title text-left">Collaborative Idea</h5>
		    <p class="card-text f">Implement an innovative culture among your company's staff.</p>
		    <a href="#" class="btn">Use now</a>
		  </div>
		</div>
		</div>
		</div>
		<div class="col-md-4 f">

					<div class="row boxx">
				<div class="col-md-2 boxxx">
				<img class="s" src="assets/images/card.png" alt="Card image cap">
				</div>
		  <div class="card-body col-md-10">
							<div class="card">
		    <h5 class="card-title text-left">Collaborative Idea</h5>
		    <p class="card-text f">Implement an innovative culture among your company's staff.</p>
		    <a href="#" class="btn">Use now</a>
		  </div>
		</div>
		</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 f">

					<div class="row boxx">
				<div class="col-md-2 boxxx">
				<img class="s" src="assets/images/card.png" alt="Card image cap">
				</div>
		  <div class="card-body col-md-10">
							<div class="card">
		    <h5 class="card-title text-left">Collaborative Idea</h5>
		    <p class="card-text f">Implement an innovative culture among your company's staff.</p>
		    <a href="#" class="btn">Use now</a>
		  </div>
		</div>
		</div>
		</div>

		<div class="col-md-4 f">

					<div class="row boxx">
				<div class="col-md-2 boxxx">
				<img class="s" src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59a9647e579fb3b4663415ae/1504273535568/Analysis-01.png?format=300w" alt="Card image cap">
				</div>
		  <div class="card-body col-md-10">
							<div class="card">
		    <h5 class="card-title text-left">Collaborative Idea</h5>
		    <p class="card-text f">Implement an innovative culture among your company's staff.</p>
		    <a href="#" class="btn">Use now</a>
		  </div>
		</div>
		</div>
		</div>
		<div class="col-md-4 f">

					<div class="row boxx">
				<div class="col-md-2 boxxx">
				<img class="s" src="assets/images/card.png" alt="Card image cap">
				</div>
		  <div class="card-body col-md-10">
							<div class="card">
		    <h5 class="card-title text-left">Collaborative Idea</h5>
		    <p class="card-text f">Implement an innovative culture among your company's staff.</p>
		    <a href="#" class="btn">Use now</a>
		  </div>
		</div>
		</div>
		</div>
	</div>


</div>

<br>
<br>
{% endblock %}
{% block javascripts %}
{{ parent()}}
<script>
$(".sidebar-dropdown > a").click(function() {
  $(".sidebar-submenu").slideUp(200);
  if (
    $(this)
      .parent()
      .hasClass("active")
  ) {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .parent()
      .removeClass("active");
  } else {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .next(".sidebar-submenu")
      .slideDown(200);
    $(this)
      .parent()
      .addClass("active");
  }
});

$("#close-sidebar").click(function() {
  $(".page-wrapper").removeClass("toggled");
});
$("#show-sidebar").click(function() {
  $(".page-wrapper").addClass("toggled");
});
</script>
{% endblock %}
