{# extends 'base.html.twig' #}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

<title>Softools</title>
{% block stylesheets %}
<link rel="shortcut icon" href="assets/images/gt_favicon.png">

<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">

<!-- Custom styles for our template -->
<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
<link rel="stylesheet" href="assets/css/main.css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
{% endblock %}

</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="#">Pourquoi Nous ?</a></li>
					<li><a href="about.html">Solutions</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="sidebar-left.html">Left Sidebar</a></li>
							<li class="active"><a href="sidebar-right.html">Right Sidebar</a></li>
						</ul>
					</li>
          <li><a href="contact.html">App</a></li>
          <li><a href="contact.html">Réponses</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a class="btn" href="signin.html">SIGN IN / DEMO</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <img class="img-responsive" src="assets/images/carousel1.jpeg" alt="softools">
	      <div class="carousel-caption">
	        <h1 class="lead">DESIGN, BUILD , WITH NO CODING.</h1>
	        <p class="tagline">The world's most powerful zero-code cloud enterprise application platform <a href="http://www.gettemplate.com/?utm_source=progressus&amp;utm_medium=template&amp;utm_campaign=progressus">More...</a></p>
	        <p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" role="button">DEMO</a></p>
	      </div>
	    </div>
	    <div class="item">
	      <img src="assets/images/carousel2.jpeg" alt="softools">
	      <div class="carousel-caption">
	        <h1 class="lead"> Tour</h1>
	        <p class="tagline"> BUILD YOUR OWN APPS, NO CODING REQUIRED. ENJOY WORLD CLASS FEATURES AS STANDARD AND VIEW DATA <a href="http://forbetterweb.com/html/cover/1.7/">More...</a></p>
	        <p><a class="btn btn-default btn-lg" role="button">Résultat</a> <a class="btn btn-action btn-lg" role="button">Examples</a></p>
	      </div>
	    </div>
	    <div class="item">
	      <img src="assets/images/carousel3.jpeg" alt="softools">
	      <div class="carousel-caption">
	        <h1 class="lead">APPS</h1>
	        <p class="tagline">OUR STOREFRONT SHOWS AN EXAMPLE OF SOME OF THE 100S OF APPS BUILT IN THE LAST YEAR <a href="http://forbetterweb.com/html/cover/1.7/">GetTemplate</a></p>
	        <p><a class="btn btn-default btn-lg" role="button">A propos </a> <a class="btn btn-action btn-lg" role="button">More...</a></p>
	      </div>
    	</div>
  	</div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
	<!--	<div class="container">
			<div class="row">
				<h1 class="lead">DESIGN, BUILD AND DEPLOY BUSINESS APPS IN HOURS WITH NO CODING.</h1>
				<p class="tagline">The world's most powerful zero-code cloud enterprise application platform <a href="http://www.gettemplate.com/?utm_source=progressus&amp;utm_medium=template&amp;utm_campaign=progressus">GetTemplate</a></p>
				<p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" role="button">DEMO</a></p>
			</div>
		</div>
    -->
	</header>
	<!-- /Header -->
	<section id="demo">
	    <div class="container text-center wow fadeIn">
				<div class="g-max-width-600 text-center mx-auto g-mb-30">
					<h2 class="g-color-black g-font-weight-600 g-font-size-40 mb-1">Admin Dashboard</h2>
					<p class="g-color-gray-dark-v2 g-font-size-20">Experience Frontend design within Dashboard.</p>
				</div>
	        <div class="row">
	            <div class="col-lg-4">
	                <h3><i class="icon ion-social-buffer"></i> COVER<span class="thin">Parallax</span></h3>
	                <p><a href="./cover-theme/parallaxhome.html"><img src="http://forbetterweb.com/html/cover/1.7/cover-theme/img/7.png" class="img-responsive center-block" alt=""></a></p>
	                <p>Image Parallax Background Full Screen</p>
	            </div>
	            <div class="col-lg-4">
	                <h3><i class="icon ion-social-youtube"></i> COVER<span class="thin">VIDEO</span></h3>
	                <p><a href="./cover-theme/videohome.html"><img src="http://forbetterweb.com/html/cover/1.7/cover-theme/img/7.png" class="img-responsive center-block" alt=""></a></p>
	                <p>Video Background Full Screen</p>
	            </div>
	            <div class="col-lg-4">
	                <h3><i class="icon ion-ios-star"></i> COVER<span class="thin">CREATIVE</span></h3>
	                <p><a href="./cover-theme/creativehome.html"><img src="http://forbetterweb.com/html/cover/1.7/cover-theme/img/7.png" class="img-responsive center-block" alt=""></a></p>
	                <p><span class="label label-danger">New</span> Portfolio Theme for Agencies, Freelancers, Photographers et cetĕra</p>
	            </div>
	        </div>

	        <div class="row">
	            <div class="col-lg-4">
	                <h3><i class="icon ion-social-youtube"></i> COVER<span class="thin">VIDEO</span> 2</h3>
	                <p><a href="./cover-theme/videohome2.html"><img src="http://forbetterweb.com/html/cover/1.7/cover-theme/img/7.png" class="img-responsive center-block" alt=""></a></p>
	                <p>Video Background Half Screen</p>
	            </div>
	            <div class="col-lg-4">
	                <h3><i class="icon ion-social-buffer"></i> COVER<span class="thin">Parallax</span> 2</h3>
	                <p><a href="./cover-theme/parallaxhome2.html"><img src="http://forbetterweb.com/html/cover/1.7/cover-theme/img/7.png" class="img-responsive center-block" alt=""></a></p>
	                <p>Image Parallax Background Half Screen</p>
	            </div>
	            <div class="col-lg-4">
	                <h3>&nbsp;</h3>
	                <p><img src="./cover-theme/img/8.png" class="img-responsive center-block" alt=""></p>
	                <p></p>
	            </div>
	        </div>

	        <div class="row">
	            <h4 class="page-header text-muted">Coming Soon Pages</h4><hr>
	            <div class="col-lg-4">
	                <h3><i class="icon ion-android-time"></i> COVER<span class="thin">Countdown</span></h3>
	                <p><a href="./cover-theme/countdownhome.html"><img src="http://forbetterweb.com/html/cover/1.7/cover-theme/img/7.png" class="img-responsive center-block" alt=""></a></p>
	                <p>Coming Soon Page, Video Background</p>
	            </div>
	            <div class="col-lg-4">
	                <h3><i class="icon ion-android-time"></i> COVER<span class="thin">Countdown</span> 2</h3>
	                <p><a href="./cover-theme/countdownhome2.html"><img src="./cover-theme/img/6.png" class="img-responsive center-block" alt=""></a></p>
	                <p>Coming Soon Page, Image Background</p>
	            </div>
	            <div class="col-lg-4">
	                <h3><i class="icon ion-android-time"></i> COVER<span class="thin">Countdown</span> 3</h3>
	                <p><a href="./cover-theme/countdownhome3.html"><img src="./cover-theme/img/7.png" class="img-responsive center-block" alt=""></a></p>
	                <p><span class="label label-danger">New</span> Coming Soon Page, Image Background</p>
	            </div>
	        </div>
	    </div>
	</section>

	<!-- port folio -->
	<div class="container-fluid g-pt-100 g-pb-50">
		<div class="g-max-width-600 text-center mx-auto g-mb-30">
			<h2 class="g-color-black g-font-weight-600 g-font-size-40 mb-1">Admin Dashboard1</h2>
			<p class="g-color-gray-dark-v2 g-font-size-20">Experience Frontend design within Dashboard.</p><hr>
		</div>
	        <div class="row text-center">
	          <div class="col-md-4 g-mb-50">
	            <a class="u-link-v5 g-font-weight-600 g-color-black g-color-primary--hover" href="unify-main/pages/page-jobs-1.html">
	              <img class="img-fluid d-block w-100 u-shadow-v24 u-shadow-v21--hover g-transition-0_3 rounded g-mb-20" src="https://htmlstream.com/preview/unify-v2.6/assets/img-temp/unify-preview/main/img2.jpg" alt="Unify Jobs Demo">Jobs
	            </a>
	          </div>

	          <div class="col-md-4 g-mb-50">
	            <a class="u-link-v5 g-font-weight-600 g-color-black g-color-primary--hover" href="unify-main/home/home-web-agency.html">
	              <img class="img-fluid d-block w-100 u-shadow-v24 u-shadow-v21--hover g-transition-0_3 rounded g-mb-20" src="https://htmlstream.com/preview/unify-v2.6/assets/img-temp/unify-preview/main/img2.jpg" alt="Unify Web Agency Demo">Web Agency
	            </a>
	          </div>

	          <div class="col-md-4 g-mb-50">
	            <a class="u-link-v5 g-font-weight-600 g-color-black g-color-primary--hover" href="unify-main/home/home-portfolio.html">
	              <img class="img-fluid d-block w-100 u-shadow-v24 u-shadow-v21--hover g-transition-0_3 rounded g-mb-20" src="https://htmlstream.com/preview/unify-v2.6/assets/img-temp/unify-preview/main/img2.jpg" alt="Unify Portfolio Demo">Portfolio
	            </a>
	          </div>

	          <div class="col-md-4 g-mb-50">
	            <a class="u-link-v5 g-font-weight-600 g-color-black g-color-primary--hover" href="unify-main/home/home-discover.html">
	              <img class="img-fluid d-block w-100 u-shadow-v24 u-shadow-v21--hover g-transition-0_3 rounded g-mb-20" src="https://htmlstream.com/preview/unify-v2.6/assets/img-temp/unify-preview/main/img2.jpg" alt="Unify Discover Demo">Discover
	            </a>
	          </div>

	          <div class="col-md-4 g-mb-50">
	            <a class="u-link-v5 g-font-weight-600 g-color-black g-color-primary--hover" href="unify-main/home/home-business.html">
	              <img class="img-fluid d-block w-100 u-shadow-v24 u-shadow-v21--hover g-transition-0_3 rounded g-mb-20" src="https://htmlstream.com/preview/unify-v2.6/assets/img-temp/unify-preview/main/img2.jpg" alt="Unify Business Demo">Business
	            </a>
	          </div>

	          <div class="col-md-4 g-mb-50">
	            <a class="u-link-v5 g-font-weight-600 g-color-black g-color-primary--hover" href="unify-main/home/home-projects.html">
	              <img class="img-fluid d-block w-100 u-shadow-v24 u-shadow-v21--hover g-transition-0_3 rounded g-mb-20" src="https://htmlstream.com/preview/unify-v2.6/assets/img-temp/unify-preview/main/img2.jpg" alt="Unify Projects Demo">Projects
	            </a>
	          </div>

	          <div class="col-md-4 g-mb-50">
	            <a class="u-link-v5 g-font-weight-600 g-color-black g-color-primary--hover" href="unify-main/home/home-corporate.html">
	              <img class="img-fluid d-block w-100 u-shadow-v24 u-shadow-v21--hover g-transition-0_3 rounded g-mb-20" src="https://htmlstream.com/preview/unify-v2.6/assets/img-temp/unify-preview/main/img2.jpg" alt="Unify Corporate Demo">Corporate
	            </a>
	          </div>

	          <div class="col-md-4 g-mb-50">
	            <a class="u-link-v5 g-font-weight-600 g-color-black g-color-primary--hover" href="https://htmlstream.com/preview/unify-v2.6/assets/img-temp/unify-preview/main/img2.jpg">
	              <img class="img-fluid d-block w-100 u-shadow-v24 u-shadow-v21--hover g-transition-0_3 rounded g-mb-20" src="https://htmlstream.com/preview/unify-v2.6/assets/img-temp/unify-preview/main/img2.jpg" alt="Unify Profile Demo">Profile
	            </a>
	          </div>
	        </div>
	      </div>

	    <!-- End Unify Main -->

	    <!-- Admin Dashboard -->
	    <div id="admin-dashboard" class="g-pos-rel g-mb-10">
	      <div class="container g-pt-50">
	        <div class="g-max-width-600 text-center mx-auto g-mb-30">
	          <h2 class="g-color-black g-font-weight-600 g-font-size-40 mb-1">SOFTOOLS CLIENTS</h2>
	          <p class="g-color-gray-dark-v2 g-font-size-20">More then 40 Big Clients </p><hr>
	        </div>
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
					        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
					    	 <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
						     <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
				    </div>
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
					        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
					    	 <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
						     <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
				    </div>
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
					        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
					    	 <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
						     <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
				    </div>
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
					        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
					    	 <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
						     <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
				    </div>
	      </div>
	    </div>
<!-- footer -->
<!-- footer -->
<section id="footer" class="wow fadeIn">
    <div class="overlay-dark"></div>
    <div class="container-fluid text-center">
        <div class="row">
            <h2 class="wow flash" data-wow-iteration="999" data-wow-duration="2s"><a href="#top"><i class="icon ion-ios-arrow-up"></i></a>&nbsp;</h2>
            <h2 class="wow fadeIn" data-wow-duration="8s" data-wow-delay="1s"><a href="#top"><i class="icon ion-social-youtube"></i> SOFTOOLS<span class="thin">Slogan</span></a></h2>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<h5>Quick links</h5>
							<ul class="list-unstyled quick-links">
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li> </br>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li></br>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li></br>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li></br>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li></br>
							</ul>
						</div>
            <div class="col-md-4">
                <h3>2345 Some Ave, Paris, NY 75008</h3>
								  <a class="btn btn-action btn-lg" role="button">Contact</a></p>
            </div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<h5>Quick links</h5>
							<ul class="list-unstyled quick-links">
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li> </br>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li></br>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li></br>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li></br>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li></br>
							</ul>
						</div>
        </div>
        <p>&copy;2018 Your Website</p>
    </div>
</section>
	<!-- call to action parallax-->





  {% block javascripts %}
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="assets/js/headroom.min.js"></script>
    <script src="assets/js/jQuery.headroom.min.js"></script>
    <script src="assets/js/template.js"></script>
		<script>
		/*!
 * forbetterweb.com - Cover Business Template
 */

// Parallax
$(document).ready(function(){
	$(".parallax").addClass("fixed");
    if (!device.tablet() && !device.mobile()) {
        $window = $(window);
        $('section[data-type="background"]').each(function(){
            var $scroll = $(this);
            $(window).scroll(function() {
                var yPos = -(($window.scrollTop() - $scroll.offset().top) / $scroll.data('speed'));
                var coords = '50% '+ yPos + 'px';
                $scroll.css({ backgroundPosition: coords });
            });
        });
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            $('.site-wrapper-inner').css({'opacity':(( 200-scroll )/400)+0.4});
        });

    }
});

// Scrolls to the selected menu item on the page
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
document.createElement("section");
		</script>
  {% endblock %}

</body>
</html>
