{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="assets/css/security.css" media="screen" >
{% endblock %}

{% block header %}
{{ parent() }}
<div class="securityheader">

      </br></br></br></br></br></br></br></br></br>
      <h5 >Enterprise-ready Security</h5>
      <h2>Confidently build and deploy apps on a secure, reliable, and highly-available platform.</h2>
</div>

{% endblock %}

{% block body %}
<div class="section3">
  </br></br></br></br>
       <div class="container">
          <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="img3">
                <img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/img1.png" alt="img1">
             </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 module come-in">
             <div class="con1">
                <span>DESCRIPTION</span>
                <h2>Some beautyful features of our software</h2>
                <div class="tags">
                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i1.png" alt="icon1"></div>
                     <div class="tgcon">
                       <span>security 1</span>
                       <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i2.png" alt="icon2"></div>
                     <div class="tgcon">
                       <span>security 2</span>
                       <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                  <div class="tg">
                     <div class="tgimg"><img src="http://kalanidhithemes.com/live-preview/landing-page/unique-software/images/i3.png" alt="icon3"></div>
                     <div class="tgcon">
                       <span>security 3</span>
                       <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>
                </div>

             </div>
          </div>
        </div>
      </div>
      </div>

<!-- security -->
<section>
<div class="container">
  <div class="row">
    <div class="service-heading-block">
        <p class="text-center sub-title">Lorem ipsum dolor sit amet,<span class="text-primary">consectetur adipisicing</span> elit.<br/> Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
    </div>
  </div>

		<div class="row mbr-justify-content-center">

            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-volume-up fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Stay <span>Successful</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-calendar fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Create
                            <span>An Effective Team</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-globe fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Launch
                            <span>A Unique Project</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-trophy fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Achieve <span>Your Targets</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            </div>

        </div>

</div>

</section>








  <div class="statContainer container">
    <div class="row">
      <div class="service-heading-block">
          <br/> <br/> <br/> <br/>
          <h2 class="text-center title">POUR MIEUX COMPRENDRE</h2>
          <p class="text-center sub-title">Lorem ipsum dolor sit amet,<span class="text-primary">consectetur adipisicing</span> elit.<br/> Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
      </div>
    </div>
      <div class="row">
        <div class="col-md-3">
            <a class="nounderline" href="javascript:alert('Portfolio Link here!');" title="Web Development Services">

            <div class="statBubbleContainer col-md-3">
            <div class="statBubble websitesLaunched">
              <div class="statNum">
              50+
              </div>
            </div>
              <h3>Projects done</h3>
              <div class="statRedirect"><span data-title="portfolio →">portfolio →</span> </div>
            </div>
            </a>
        </div>

        <div class="col-md-3">
            <a class="nounderline" href="javascript:alert('Meet the team Link here!');" title="Meet our developers">
            <div class="statBubbleContainer col-md-3">
            <div class="statBubble teamSize">
              <div class="statNum">
              3
              </div>
            </div>
              <h3>Team Members</h3>
              <div class="statRedirect"><span data-title="meet us →">meet us →</span> </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
          <a class="nounderline" href="javascript:alert('Services Page Here');" title="Learn about our services">
          <div class="statBubbleContainer">
          <div class="statBubble topSEORank">
            <div class="statNum">
             10
            </div>
          </div>
            <h3>Security Rank</h3>
            <div class="statRedirect"><span data-title="services →">services →</span> </div>
          </div>
          </a>
        </div>
        <div class="col-md-3">
              <a class="nounderline" target="_blank" href="https://www.facebook.com/billal.zernenou/" title="Get Connected with us!">
            <div class="statBubbleContainer col-md-3">
            <div class="statBubble facebookLikes">
              <div class="statNum">
              132
              </div>
            </div>
              <h3>Happy Clients</h3>
              <div class="statRedirect"><span data-title="social media →">social media →</span> </div>
            </div>
            </a>
      </div>
    </div>
</div>



{% endblock %}
