{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="assets/css/finance.css" media="screen" >
{% endblock %}

{% block header %}
{{ parent() }}
<div class="securityheader">

      </br></br>
      <h5 >Finance</h5>
      <h2>3 exemples de Finance</h2>
</div>

{% endblock %}
{% block body %}

solution3 blala


{% block javascript %}
{% endblock %}
{% endblock %}
