{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="assets/css/testimonial.css" media="screen" >

{% endblock %}

{% block header %}
{{ parent() }}
<header class="header" id="header1">
	<img src="https://raw.githubusercontent.com/alphadsy/alpha-ui/master/images/man.png" alt="">
	<div class="circle">
		<div class="caption">


			<h2>"I have invested in platforms that allow me to go from idea to live in just days. Quick Base is a master at that."</h2>
      	<p class="title display-3">Francois Tricot</p>
        <div class="">
            <a class="btn btn-theme btn-sm btn-min-block" href="#">Watch video</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Download PDF</a></div>
        </div>
		</div>
	</div>
	<!-- demo only -->

</header>
{% endblock %}
{% block body %}
<!-- details card section starts from here -->

<!-- details card section starts from here -->

<br/><br/>




<div class="container section1">
    <div class="row text-center">
        <div class="sec-title">
          <img src="https://www.quickbase.com/attachment/customer/r/24/f/tom-tom_logo.png" class="logo" alt="">
            <h3>TomTom Tracks GPS Sales <br>in Every Direction with Quick Base</h3>
        </div>
    </div>
  <hr>
  <p class="para"><b>For TomTom, the world's leading navigation technology company,</b> meeting the needs of two different sales organizations with different processes presented
    a steep challenge. After struggling with a slow, inefficient customer relationship management (CRM) system, TomTom implemented Quick Base to serve both the
    Business Sales and B2B resellers more effectively. The results are fewer dropped leads on the Business Sales side and higher conversions on the B2B reseller
    side.
  </p>
	<div class="row">
    <h3 class="par">Challenge</h3>
    <ul>
      <li> <b>  Spreadsheets did not ensure complete distributor and reseller information </b> </li>
      <li>  <b> Existing retail CRM was slower than desired </b></li>
      <li> <b>Retail distributor re-authorization process was manual and not as efficient as it should be</b> </li>
      <li>  <b>Limited insight into leads turned over to resellers</b></li>
    </ul>
 </div>
 <div class="row">
    <h3 class="par">Solution</h3>
    <ul>
      <li> <b>  Spreadsheets did not ensure complete distributor and reseller information </b> </li>
      <li>  <b> Existing retail CRM was slower than desired </b></li>
      <li> <b>Retail distributor re-authorization process was manual and not as efficient as it should be</b> </li>
      <li>  <b>Limited insight into leads turned over to resellers</b>/li>
    </ul>
 </div>
 <div class="row">
    <h3 class="par">Benefits</h3>
    <ul>
      <li> <b>  Spreadsheets did not ensure complete distributor and reseller information </b> </li>
      <li>  <b> Existing retail CRM was slower than desired </b> </li>
      <li> <b>Retail distributor re-authorization process was manual and not as efficient as it should be</b> </li>
      <li>  <b>Limited insight into leads turned over to resellers</b> </li>
    </ul>
 </div>
 <div class="row">
    <h3 class="par">Challenge</h3>
    <ul>
      <li> <b>  Spreadsheets did not ensure complete distributor and reseller information </b></li>
      <li>  <b> Existing retail CRM was slower than desired </b></li>
      <li> <b>Retail distributor re-authorization process was manual and not as efficient as it should be</b></li>
      <li>  <b>Limited insight into leads turned over to resellers</b></li>
    </ul>
 </div>
 <hr>
 <div class="row">
   <p class="para"><b>For TomTom, the world's leading navigation technology company,</b> meeting the needs of two different sales organizations with different processes presented
     a steep challenge. After struggling with a slow, inefficient customer relationship management (CRM) system, TomTom implemented Quick Base to serve both the
     Business Sales and B2B resellers more effectively. The results are fewer dropped leads on the Business Sales side and higher conversions on the B2B reseller
     side.
   </p>
 </div>
 <div class="row">
   <p class="para"><b>For TomTom, the world's leading navigation technology company,</b> meeting the needs of two different sales organizations with different processes presented
     a steep challenge. After struggling with a slow, inefficient customer relationship management (CRM) system, TomTom implemented Quick Base to serve both the
     Business Sales and B2B resellers more effectively. The results are fewer dropped leads on the Business Sales side and higher conversions on the B2B reseller
     side.
   </p>
 </div>
 <div class="row">
   <p class="para"><b>For TomTom, the world's leading navigation technology company,</b> meeting the needs of two different sales organizations with different processes presented
     a steep challenge. After struggling with a slow, inefficient customer relationship management (CRM) system, TomTom implemented Quick Base to serve both the
     Business Sales and B2B resellers more effectively. The results are fewer dropped leads on the Business Sales side and higher conversions on the B2B reseller
     side.
   </p>
 </div>
</div>


<div class="container section1">
    <div class="row text-center">
        <div class="sec-title">
            <h3>TomTom Tracks GPS Sales <br>in Every Direction with Quick Base</h3>
        </div>
    </div>
  <hr>
  <p class="para"><b>For TomTom, the world's leading navigation technology company,</b> meeting the needs of two different sales organizations with different processes presented
    a steep challenge. After struggling with a slow, inefficient customer relationship management (CRM) system, TomTom implemented Quick Base to serve both the
    Business Sales and B2B resellers more effectively. The results are fewer dropped leads on the Business Sales side and higher conversions on the B2B reseller
    side.
  </p>


 <hr>
 <div class="row">
   <p class="para"><b>For TomTom, the world's leading navigation technology company,</b> meeting the needs of two different sales organizations with different processes presented
     a steep challenge. After struggling with a slow, inefficient customer relationship management (CRM) system, TomTom implemented Quick Base to serve both the
     Business Sales and B2B resellers more effectively. The results are fewer dropped leads on the Business Sales side and higher conversions on the B2B reseller
     side.
   </p>
 </div>
 <div class="row">
   <p class="para"><b>For TomTom, the world's leading navigation technology company,</b> meeting the needs of two different sales organizations with different processes presented
     a steep challenge. After struggling with a slow, inefficient customer relationship management (CRM) system, TomTom implemented Quick Base to serve both the
     Business Sales and B2B resellers more effectively. The results are fewer dropped leads on the Business Sales side and higher conversions on the B2B reseller
     side.
   </p>
 </div>
 <div class="row">
   <p class="para"><b>For TomTom, the world's leading navigation technology company,</b> meeting the needs of two different sales organizations with different processes presented
     a steep challenge. After struggling with a slow, inefficient customer relationship management (CRM) system, TomTom implemented Quick Base to serve both the
     Business Sales and B2B resellers more effectively. The results are fewer dropped leads on the Business Sales side and higher conversions on the B2B reseller
     side.
   </p>
 </div>

</div>





{% endblock %}
{% block footer %}

{{ parent() }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>

</script>

{% endblock %}
