{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="assets/css/presentation.css" media="screen" >
<link rel="stylesheet" href="assets/css/zero_code.css" media="screen" >
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}
{% block header %}

{{ parent() }}
<!-- video carousel-->
<!-- video section
<div class="container-fluid">
	<div class="row">
			<div class="video-wrapper">
				<video src="https://player.vimeo.com/external/304803118.sd.mp4?s=3d0e26d216473117258b6ded44f044d1726a05e2&profile_id=164&oauth2_token_id=57447761" poster="assets/images/video.jpg"></video>
			</div>
	</div>
</div>
-->
<div id="header">
  <div class="center" id="headerc">
    <div class="middle">
      <h1>Softools Overview</h1>
      <span>Softools is the best way to manage data and automate processes, so you can accomplish more.</span>
    </div>
  </div>
</div>


<!-- end video carousel -->
<br><br>

<!-- section zero code -->

               <div class="container">
                   <br></br>
                    <div class="row">
                        <div class="col-lg-6 how-img">
                            <img class="omg" src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/t/5880e757e6f2e15d650da0c4/1532356432823/businessrefresh.jpg?format=750w" class="rounded-circle img-fluid" alt=""/>
                        </div>
                        <div class="col-lg-6">
                            <h2>Find rewarding projects</h2>
                                        <h3 class="">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h3>
                        <p >Freedom to work on ideal projects. On GetLance, you run your own business and choose your own clients and projects. Just complete your profile and we’ll highlight ideal jobs. Also search projects, and respond to client invitations.
                                             by clients that use GetLance.</p>

                        </div>
                    </div>
                      <br></br>
                </div>
                <section class="section_bg_gray">
                    <br></br>
                    <div class="container ">
                      <div class="row">
                        <br><br>
                          <div class="col-md-6">
                              <h2>Get hired quickly</h2>
                                          <h3 class="">GetLance makes it easy to connect</h3>
                                          <p class="">Send and receive files. Deliver digital assets in a secure environment.
                                              Share feedback in real time. Use GetLance Messages to communicate via text, chat, or video.
                                              Use our mobile app. Many features can be accessed on your mobile phone when on the go
                                            </p>
                          </div>
                          <div class="col-md-6 how-img">
                              <img class="omg" src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/t/5880e757e6f2e15d650da0c4/1532356432823/businessrefresh.jpg?format=750w" class="rounded-circle img-fluid" alt=""/>
                          </div>
                      </div>
                  </div>
                  <br></br>
                </section>
                  <br><br>
                  <div class="container btn_cont">
                    <div class="row text-center">
                    <div class="btn-container">
                            <a class="btn standard-btn" href="#">Voir App Gallery!</a>
                            <a class="btn standard-btn" href="#">Ask For Demo!</a>
                      </div>
                    </div>
                  </div>
                <br><br>
                    <section class="section_bg_gray">
                      <br><br>
                      <div class="container">
                    <div class="row">
                        <div class="col-md-6 how-img">
                             <img class="omg" src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/t/5880e757e6f2e15d650da0c4/1532356432823/businessrefresh.jpg?format=750w" class="rounded-circle img-fluid" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h2>Work efficiently, effectively.</h2>
                                        <h3 >With GetLance, you have kby you and your client, allowing you to:</h3>
                                        <p class="text-muted">Send and receive files. Deliver digital assets in a secure environment.
                                            Share feedback in real time. Use GetLance Messages to communicate via text, chat, or video.
                                            Use our mobile app. Many features can be accessed on your mobile phone when on the go.</p>
                        </div>
                    </div>
                  </div>
                  <br><br>
                </section>
                      <br><br>
                      <div class="container btn_cont">
                      	<div class="row text-center">
                      	<div class="btn-container">
                      					<a class="btn standard-btn" href="#">Voir App Gallery!</a>
                                <a class="btn standard-btn" href="#">Ask For Demo!</a>
                      		</div>
                      	</div>
                      </div>
              =

<br><br><br><br>

<div class="cover section_bg_gray">
    <div class="container">
	<div class="row">
		<div class="col-md-12">
		    <div class="ptb-50 text-center">
		        <h2 class="text-center">customisable for every skill</h2>
            <h3>Businesses around the globe entrust their information to Quick Base’s state-of-the-art data centers.</h3>
		    </div>
		</div>
	</div>
	<div class="row">
	    <div class="col-sm-6 col-md-4">
						<div class="single_what_we_do">
							<div class="top_line"></div>
							<div class="what_we_do_figure">
								<img src="http://mtechwebsoft.com/templates/himax/demo/images/what_we_do/2.png" alt="" class="img-responsive">
							</div>
							<h4 class="what_we_do_title">Best In Class</h4>
							<div class="what_we_do_content">Lorem ipsum dolor amet, consectetur adipiscing elit eiusmod.</div>
							<a class="what_we_do_icon" href="#">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					 <div class="col-sm-6 col-md-4">
						<div class="single_what_we_do">
							<div class="top_line"></div>
							<div class="what_we_do_figure">
								<img src="http://mtechwebsoft.com/templates/himax/demo/images/what_we_do/2.png" alt="" class="img-responsive">
							</div>
							<h4 class="what_we_do_title">Best In Class</h4>
							<div class="what_we_do_content">Lorem ipsum dolor amet, consectetur adipiscing elit eiusmod.</div>
							<a class="what_we_do_icon" href="#">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					 <div class="col-sm-6 col-md-4">
						<div class="single_what_we_do">
							<div class="top_line"></div>
							<div class="what_we_do_figure">
								<img src="http://mtechwebsoft.com/templates/himax/demo/images/what_we_do/2.png" alt="" class="img-responsive">
							</div>
							<h4 class="what_we_do_title">Best In Class</h4>
							<div class="what_we_do_content">Lorem ipsum dolor amet, consectetur adipiscing elit eiusmod.</div>
							<a class="what_we_do_icon" href="#">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					</div>
	</div>
  <br><br><br><br>
</div>
</div>
<br><br>
<div class="container text-center">
  <h2> Reap the benefits of implementing lean</h2>
  <br><br>
  <div class="row">
    <div class="col-md-4 ">
      <div class="card benf">
        <i class="fas fa-print" style="font-size:50px;color:orange;text-shadow:1px 1px 2px grey;"></i>
        <div class="card-body">
          <br>
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card benf">
        <i class='fas fa-mobile-alt' style="font-size:50px;color:orange;text-shadow:1px 1px 2px grey;"></i>
        <div class="card-body">
          <br>
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <div class="card benf">
          <i class="fa fa-database" style="font-size:50px;color:orange;text-shadow:1px 1px 2px grey;"></i>
          <div class="card-body">
            <br>
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
  </div>
  <br> <br>
  <div class="row">
    <div class="col-md-4">
      <div class="card benf">
        <br>
        <i class="material-icons" style="font-size:50px;color:orange;text-shadow:1px 1px 2px grey;">attachment</i>
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card benf">
        <br>
        <i class="material-icons" style="font-size:50px;color:orange;text-shadow:1px 1px 2px grey;">computer</i>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <div class="card benf">
          <br>
          <i class="fas fa-chart-pie" style="font-size:50px;color:orange;text-shadow:1px 1px 2px grey;"></i>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
  </div>

</div>
<br> <br>



<!-- Start Testmonials -->
<div class="container text-center">
<div class="row">
  <div class="col-md-8 col-center m-auto">
    <h2>See what our clients says about us</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="item carousel-item active">
          <div class="img-box"><img src="https://www.tutorialrepublic.com/examples/images/clients/1.jpg" alt=""></div>
          <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
          <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
        </div>
        <div class="item carousel-item">
          <div class="img-box"><img src="https://www.tutorialrepublic.com/examples/images/clients/2.jpg" alt=""></div>
          <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
          <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
        </div>
        <div class="item carousel-item">
          <div class="img-box"><img src="https://www.tutorialrepublic.com/examples/images/clients/3.jpg" alt=""></div>
          <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
          <p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
        </div>
      </div>
      <!-- Carousel controls -->
      <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>
</div>

<div class="container-fluid text-center hidden">
  <h2> features <h2>
    <h3>what softools can bring to your business! <h3>
          <br>    <br>
<div class="row">
<div class="col-md-3 col-sm-4">
<div class="wrimagecard wrimagecard-topimage">
        <a href="#">
        <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
          <center><i class = "fa fa-cubes" style="color:#16A085"></i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Charts
          <div class="pull-right badge">18</div></h4>
        </div>
      </a>
    </div>
    </div>
  <div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
        <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">
          <center><i class = "fa fa-cubes" style="color:#16A085"></i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Controls
          <div class="pull-right badge" id="WrControls"></div></h4>
        </div>
      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
        <div class="wrimagecard-topimage_header" style="background-color:  rgba(213, 15, 37, 0.1)">
          <center><i class="fa fa-pencil-square-o" style="color:#d50f25"> </i></center>
        </div>
        <div class="wrimagecard-topimage_title" >
          <h4>Forms
          <div class="pull-right badge" id="WrForms"></div>
          </h4>
        </div>

      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
        <div class="wrimagecard-topimage_header" style="background-color:  rgba(51, 105, 232, 0.1)">
           <center><i class="fa fa-table" style="color:#3369e8"> </i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Grid System
          <div class="pull-right badge" id="WrGridSystem"></div></h4>
        </div>

      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
        <div class="wrimagecard-topimage_header" style="background-color:  rgba(250, 188, 9, 0.1)">
           <center><i class="fa fa-info-circle" style="color:#fabc09"> </i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Information
          <div class="pull-right badge" id="WrInformation"></div></h4>
        </div>

      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
          <div class="wrimagecard-topimage_header" style="background-color: rgba(121, 90, 71, 0.1)">
         <center><i class="fa fa-bars" style="color:#795a47"> </i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Navigation
          <div class="pull-right badge" id="WrNavigation"></div></h4>
        </div>

      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
       <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
          <center><i class="fa fa-magic" style="color:#825d09"></i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Themes & Icons
          <div class="pull-right badge" id="WrThemesIcons"></div></h4>
        </div>
      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
       <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
          <center><i class="fa fa-magic" style="color:#825d09"></i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Themes & Icons
          <div class="pull-right badge" id="WrThemesIcons"></div></h4>
        </div>
      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
       <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
          <center><i class="fa fa-magic" style="color:#825d09"></i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Themes & Icons
          <div class="pull-right badge" id="WrThemesIcons"></div></h4>
        </div>
      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
       <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
          <center><i class="fa fa-magic" style="color:#825d09"></i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Themes & Icons
          <div class="pull-right badge" id="WrThemesIcons"></div></h4>
        </div>
      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
       <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
          <center><i class="fa fa-magic" style="color:#825d09"></i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Themes & Icons
          <div class="pull-right badge" id="WrThemesIcons"></div></h4>
        </div>
      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
       <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
          <center><i class="fa fa-magic" style="color:#825d09"></i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Themes & Icons
          <div class="pull-right badge" id="WrThemesIcons"></div></h4>
        </div>
      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
       <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
          <center><i class="fa fa-magic" style="color:#825d09"></i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Themes & Icons
          <div class="pull-right badge" id="WrThemesIcons"></div></h4>
        </div>
      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
       <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
          <center><i class="fa fa-magic" style="color:#825d09"></i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Themes & Icons
          <div class="pull-right badge" id="WrThemesIcons"></div></h4>
        </div>
      </a>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
        <a href="#">
       <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
          <center><i class="fa fa-magic" style="color:#825d09"></i></center>
        </div>
        <div class="wrimagecard-topimage_title">
          <h4>Themes & Icons
          <div class="pull-right badge" id="WrThemesIcons"></div></h4>
        </div>
      </a>
    </div>
</div>

</div>
</div>
<div class="container btn_cont hidden">
	<div class="row text-center">
	<div class="btn-container">
					<a class="btn standard-btn" href="#">Ask for Demo!</a>
		</div>
	</div>
</div>

<div class="container hidden">
  <button id="button">Ask For Demo</button>
</div>
<br> <br>
<div class="container text-center hidden">
  <h2> what you can bring to your business!!</h2>
    <br>
  <div class="row">
    <div class="col-md-6">
        <h2> vring something new to your business!</h2>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p >With supporting text below as a natural lead-in to additional content, onloadedmetadata="With supporting text below as a natural lead-in to additional content."</p>
          <p >With supporting text below as a natural lead-in to additional content, onloadedmetadata="With supporting text below as a natural lead-in to additional content."</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-6 card ">
          <i class="fa fa-database" style="font-size:60px;color:orange;text-shadow:1px 1px 2px grey;"></i>
          <div class="card-body how">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card col-md-6 ">
          <i class="fas fa-chart-pie" style="font-size:60px;color:orange;text-shadow:1px 1px 2px grey;"></i>
          <div class="card-body how">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card col-md-6">
          <i class="material-icons" style="font-size:50px;color:orange;text-shadow:1px 1px 2px grey;">computer</i>
          <div class="card-body how">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card col-md-6 ">
          <i class="material-icons" style="font-size:50px;color:orange;text-shadow:1px 1px 2px grey;">computer</i>
          <div class="card-body how">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>

</div>
</div>
<br> <br>

<div class="container btn_cont hidden">
	<div class="row text-center">
	<div class="btn-container">
					<a class="btn standard-btn" href="#">Voir Apps!</a>
		</div>
	</div>
</div>

<!-- notre équipe -->

<section class="team hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-lg-12">
          <h6 class="description">OUR TEAM</h6>
          <div class="row pt-md">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/1.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Marrie Doi</h1>
              <h2>Co-founder/ Operations</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/2.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Christopher Di</h1>
              <h2>Co-founder/ Projects</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/3.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Heather H</h1>
              <h2>Co-founder/ Marketing</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/4.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>John Doe</h1>
              <h2>Designer</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/5.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Peter John</h1>
              <h2>Web Developer</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/6.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Cherry John</h1>
              <h2>Fullstack Developer</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/7.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Frank Martin</h1>
              <h2>Co-founder/ Operations</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/8.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Christopher Di</h1>
              <h2>Co-founder/ Projects</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/9.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Heather H</h1>
              <h2>Co-founder/ Marketing</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/10.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Nancy Doe</h1>
              <h2>Designer</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/11.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Stella John</h1>
              <h2>Web Developer</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                <img src="http://nabeel.co.in/files/bootsnipp/team/12.jpg" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                </ul>
              </div>
              <h1>Cherry John</h1>
              <h2>Fullstack Developer</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

  {% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="assets/js/scrollPosStyler.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="assets/js/bootsnav.js"></script>
<script>

var videoPlayButton,
	videoWrapper = document.getElementsByClassName('video-wrapper')[0],
    video = document.getElementsByTagName('video')[0],
    videoMethods = {
        renderVideoPlayButton: function() {
            if (videoWrapper.contains(video)) {
				this.formatVideoPlayButton()
                video.classList.add('has-media-controls-hidden')
                videoPlayButton = document.getElementsByClassName('video-overlay-play-button')[0]
                videoPlayButton.addEventListener('click', this.hideVideoPlayButton)
            }
        },

        formatVideoPlayButton: function() {
            videoWrapper.insertAdjacentHTML('beforeend', '\
                <svg class="video-overlay-play-button" viewBox="0 0 200 200" alt="Play video">\
                    <circle cx="100" cy="100" r="90" fill="none" stroke-width="15" stroke="#fff"/>\
                    <polygon points="70, 55 70, 145 145, 100" fill="#fff"/>\
                </svg>\
            ')
        },

        hideVideoPlayButton: function() {
            video.play()
            videoPlayButton.classList.add('is-hidden')
            video.classList.remove('has-media-controls-hidden')
            video.setAttribute('controls', 'controls')
        }
	}

videoMethods.renderVideoPlayButton()
</script>
{% endblock  %}
