
/* lightSlider */
/* carousel */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
  /* Blog Section
  --------------------------------*/
  @media (max-width: 991px) {
    #blog .block-blog {
      margin-bottom: 30px;
    }
  }

  #blog .block-blog img {
    width: 100%;
  }

  #blog .block-blog .content-blog {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    min-height: 125px;
    padding: 20px 10px;
    width: 100%;
  }

  #blog .block-blog .content-blog h4 {
    line-height: 24px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 0;
    font-size: 16px;
  }

  #blog .block-blog .content-blog h4 a {
    color: #555;
    text-decoration: none;
    transition: 0.3s;
  }

  #blog .block-blog .content-blog h4 a:hover {
    color: #71c55d;
  }

  #blog .block-blog .content-blog > span {
    float: left;
    font-size: 12px;
  }

  #blog .block-blog .content-blog a.readmore {
    color: #505050;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 0;
    text-transform: capitalize;
  }

  #blog .block-blog .content-blog a.readmore:hover {
    color: #71c55d;
  }
