

/* balises titles */
h1
{
  font-size: 3em;
  font-family: AvenirNext;
  font-weight: 600;
  box-sizing: border-box;
  line-height: 1.8;
  margin: 0 0 40px;
  display: block;
  margin-block-start: 3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color:white;
}



h5
{

  text-align: center
  font-family: AvenirNext;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.8;
  margin: 0 0 40px;
  display: block;
  margin-block-start: 3em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.8;
}


.financeheader{
width: 100%;
background: url("https://www.quickbase.com/uploads/masthead/masthead-it.jpg");
text-decoration-color: white;
height: 400px;
}


.thar-video
{
  width: auto;
  margin: 20px auto 0;
  color: grey;
border: 1px solid orange;
background-color: transparent;
align-items: center;
border-radius: 8px;
cursor: pointer;
font-weight: 500;
line-height: 1.2;
overflow: hidden;
padding: 13px 40px;
position: relative;
transition: all .2s ease-in-out;
white-space: nowrap;
}
.thar-video:hover
{
background: orange;
border: 1px solid #fff;
color:#fff;

}
/* section 2 */

.section2 {
    background: rgba(0, 0, 0, 0) url("https://www.quickbase.com/uploads/panel/slutions-content-masthead.jpg");
    position: relative;
    color: white;
    box-shadow: 4px 4px 4px 5px; white;
    margin: auto;
}
.btn-twt:before {
    content: 'View CRM and Sales Apps';
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 15px ;
    width: 250px;
    text-align: center;
    background: linear-gradient(to left, rgba(255,255,255,0) 50%, white 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    vertical-align: middle;
   transition:all 0.5s ease;

}
.btn-twt:hover:before {
    content: '@View CRM and Sales Apps -->';
    color: orange;
    text-align: center;
    background-position:left bottom;
    transition:all 0.5s ease;
}
.section2 h2 {
  color: white;
  text-align: center;
}


/* block apps */
.apps .app {

  border-radius: 3px;
  border: 1px solid grey;
  height: 300px;
  margin: 40px;
}
.app:hover
{
background: orange;
}



/* section 1 */
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-big {
  display: table-cell;

  text-align: center;
  vertical-align: middle;
}

h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;

  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;

  }
}
.carbox {
  display: block;
    line-height: 1.42857143;
    background-color: #F0F5F9;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    padding-top: 5px;
  	transition: all 0.2s ease-in-out 0s;


}
h4
{
  color: #52575b;
    font-size: 24px;

    transition: .3s;
    font-weight: 500;
    font-family: AvenirNext;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
    line-height: 1.2;

}
.carbox:hover{
    color: #F0F5F9;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background: #52575C;
  border-radius: 5px;
  border: 1px solid grey;

  	transition: all 0.3s ease-in-out 0s;
}

.carbox:hover h4
{
  color: white;
}

.carbox:hover .carbox-read-more a
{
  color: white;
  visibility: visible;
}


.img-carbox {
  width: 100%;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}
.img-carbox img{
  text-align: center;
  object-fit:cover;
  transition: all .25s ease;
  border: 3px solid orange;
  background: white;
  box-shadow: 0px 2px 9px rgba(0,0,0,0.3);
}
.img-carbox img {
    margin-top: 60px;
    width: 80px;
    border-radius: 50%;
    border-top: 2px dashed #ffcc00;
    border-right: 2px dashed #ffcc00;
    border-left: 2px dashed #000000;
    border-bottom: 2px dashed #000000;
    padding: 10px;
    animation: spin 10s infinite linear;
}
.img-carbox img{
    animation: spin 10s infinite reverse linear;
    width: 30%;
    border-radius: 50%;
}


/* ping to return every 1ms*/
/* transform: rotate(1turn); */
@keyframes spin {
    100% {
     ;
    }
}
.carbox-content {
  text-align:left;
}
.carbox-title {
  font-family: AvenirNext;
font-weight: 400;
line-height: 1.6;
}
.carbox-title a {
  color: #000;
  text-decoration: none !important;
}
.carbox-read-more {

}
.carbox-read-more a {
  text-decoration: none !important;

  text-transform: uppercase;
  color: #f0f5f9;
  visibility: hidden;
}
.carbox-read-more a:hover {


  text-transform: uppercase;
  font-size: 15px;
  color: white;
}

.img_description
{
  max-width: 550px;
  overflow: hidden;
}



/* témoignage */
*{
   font-family: 'Poppins', sans-serif;
}
.testimonial_subtitle{
    color: orange;
    font-size: 12px;
}
  .testimonial_btn{
    background-color: #373d4b !important;
    color: #fff !important;
 }
 .seprator {
    height: 2px;
    width: 56px;
    background-color: orange;
    margin: 7px 0 10px 0;
}





.wrappe
{
 padding: 2px; margin: 0 auto; background: #fff; box-shadow: 10px 5px 15px rgba(0,0,0,0.9);
background: black;
overflow: auto;
}

video {
  border: 5px solid rgba(255, 255, 255, 0.8);

    padding: 10px;
    width: 100%;
  height: auto;

}

/* testimoniy 2 */
/* Start Testmonials */
h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: orange;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: orange;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
/* testimonial 3 */


.video-testimonial-block { position: relative; width: auto; height: 206px; overflow: hidden; margin-bottom: 30px; }
.video-testimonial-block .video-thumbnail { height: 100%; width: 100%; position: absolute; z-index: 1; background-size: cover; top: 0; left: 0; }
.video-testimonial-block .video { }
.video-testimonial-block .video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0px; }
.video-testimonial-block .video-play { position: absolute; z-index: 2; top: 50%; left: 50%; margin-left: -40px; margin-top: -18px; text-decoration: none; }
.video-testimonial-block .video-play::before { content: "\f144"; font: normal normal normal 14px/1; font-family: 'Font Awesome\ 5 Free'; font-weight: 900; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 50px; color: #b3b5bc; }
.video-testimonial-block .video-play:hover::before { color: #172651; }
.mb10{margin-bottom:10px;}
.section-title { margin-bottom: 40px; }
